html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
.row{
	margin-top:30px;
}
.listItem{
	padding:10px;
	margin-bottom:10px;
	border:1px solid rgba(14,200,15,0.5);
	border-radius:3px;
	background-color: rgba(14,200,15,0.3);
}
.card-header{
	padding:2px;
}
.card-body{
	min-height:50px;
	padding: 2px;
}
.btn{
	padding:0px;
}

.modal{
	display:inline;
	background-color: rgba(0,0,0,0.4);
}

.dropdownShow{
	display:block;
	max-height:300px;
	overflow: scroll;
}
.btn.btn-secondary.dropdown-toggle{
	min-width: 150px;
}
.view{
	min-width:100px;
	min-height:50px;
	margin:5px;
}